<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Arcade Character Generator</title>
  <link rel="stylesheet" href="css/arcade.css">
  <link rel="stylesheet" href="css/colorpicker.css">
</head>

<body>

  <div id="matrixContainer">
   <ul>
    <li v-for="rows,row in matrix">
      <ul id="matrix">
        <li v-for="pixel, nr in rows">
          <button  @click="showColorpicker(row, nr, $event)" v-bind:style="{ color: buttonColor }" v-bind:value="nr.id">
            {{row + 1}} | {{nr + 1}}
          </button>
        </li>
      </ul>
    </li>
   </ul>
</div>

<div id="colorpicker">
    <div>
        Dit is de array dat we doorsturen naar de firebase:
        <div v-for="pixels in matrixArray">
            {{pixels}}
        </div>
    </div>
    <photoshop-picker  v-show="preview" v-model="colors" @ok="onOk" @cancel="onCancel" @input="updateValue"></photoshop-picker>
</div>

<!--We laden VueJS in-->
  <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
  <script src="js/vue-color.min.js"></script>
  <script> var photoshop = VueColor.Photoshop </script>
  <script  src="js/index.js"></script>

</body>
</html>
