#app{
  background-color: grey;
  width: 100%;
}
#matrix{
  margin: 0 auto;
}
li{
  display: inline;
  padding: 0px 3px;
}
button{
  height: 50px;
  width: 50px;
  border: none;
}
.green{
  background-color: #41B883;
}
.blue{
  background-color: #35495E;
}